!!! XML
!!! Strict 
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      selfmodifier.org - Access denied
  %body
    %h1
      Login failed.
    %div
      = haml :login_form
