%form{:id => "logout_form", :action => "/user/logout", :method => "post"}
.links_box
  .links
    <a class='navigation' href='/'>selfmodifier.org</a>
    <a class='navigation' href='/repository/add'>Add another repository</a>
    <a class='navigation' href='/user/moderation'>Edit repositories</a>
    / The id here is included for automated testing purposes.
    <a id="logout" class='navigation' href='javascript:document.getElementById("logout_form").submit()'>Logout</a>
