.links.centered
  <a class='navigation' href='/'>selfmodifier.org</a>
  <a class='navigation' href='/repository/add'>Add another repository</a>
  <a class='navigation' href='/user/moderation'>Edit repositories</a>
