.links.centered
    %a.navigation{:href => '/'}selfmodifier.org
    %a.navigation{:href => '/repository/add'}Add another repository
    %a.navigation{:href => SelfModifier::App.secure("/user/moderation")}Edit repositories
