.p
  %a{:href=>"/"}
    Back to home
.new_repository
  %p
    Add a new github repository to our portal, using the following form.
  %form{:action => "add", :method => "POST"}
    %p
      Github user
      %input{:type => "text", :name => "username"}
    %p
      Repository name      
      %input{:type => "text", :name => "repository"}
    %p
      Please type the characters displayed in this image into the box below.
    %p
      = captcha_image_tag
    %p
      = captcha_answer_tag
    %p
      %input{:type => "submit", :name => "add", :value=>"Add"}
