.new_repository
  #instruction_box
    %h2
      Add a new GitHub repository to our portal
  %form#add_repository{:action => "add", :method => "post"}
    %table
      %tr#url_box
      %tr
        %td    
          Github user
        %td
          %input#user{:type => "text", :name => "username", :value => locals[:username]}
      %tr
        %td
          Repository
        %td
          %input#project{:type => "text", :name => "repository", :value => locals[:repository]}
    %p
      Please type the characters displayed in this image into the box below.
    %p
      = captcha_image_tag
    %p
      = captcha_answer_tag
    %p
      %input{:type => "submit", :name => "add", :value=>"Add"}
