%table.repo
  %tr
    %th.repo
      Project Name 
    %th.repo
      URL
    %th.repo
      Description
    %th.repo
      Last updated (UTC)
  - locals[:projects].each_with_index do |rep, index|
    - url = rep.url
    %tr{:class => "data#{index % 2}"}
      %td.repo
        = rep.project
      %td.repo
        %a{:href => url}=url
      %td.repo
        = rep.safe_description
      %td.repo
        = rep.updated
