!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      selfmodifier.org - Bad captcha
  %body
    %p
      You did not fill out the captcha correctly.
    %p
      = haml :repository_form
