%table.repository_table
  %tr
    %td
      Project Name 
    %td
      URL
    %td
      Description
    %td
      Last updated (UTC)
  - locals[:projects].each do |rep|
    - url = rep[:url]
    %tr
      %td
        = rep[:name]
      %td
        %a{:href => url}
          = url
      %td
        = rep[:description]
      %td
        = rep[:update_time]
