!!! XML
!!! Strict 
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      selfmodifier.org - Error: Invalid repository
    %body
      %p
        The repository was not added, because the user and/or repository names were invalid.
      %p= locals[:form]
