/*
 * selfmodifier.org stylesheet
 * Author: John Morrice
 * Date 2010:
 * This stylesheet is hereby released into the public domain.
 *
 * I don't have a good eye for asthetics or prettiness in general.
 *
 * I'm good at algorithms, not design!
 *
 * I would rather someone who was better at this would give this
 * a rewriting.
 *
 */
body 
{
	font-family: sans-serif;
}
div.content
{
	padding-top: 2em;
}

div.centered
{
	text-align: center;
}

div.hard_centered
{
	width: 768px;
	margin-left: auto;
	margin-right: auto;
}

div.links
{
	background-color: black;
	padding-top: 3em;
	padding-bottom: 1.2em;
}

a.navigation
{
	color: white;
	padding: 1em;
	font-size: 1.2em;
}

a.navigation:active, a.navigation:visited
{
	color: white;

}

a.navigation:hover
{
	color: black;
	background-color: gray;
}

tr.data0
{
	color:black;
	background-color: lightgray;
}

tr.data1
{
	color:black;
	background-color: white; 
}

td, th
{
	padding: 1em;
}

table.repo, td.repo, th.repo
{
	border: 2px solid black;
}

table
{
	border-collapse: collapse;
}

input.wide
{
	width: 20em;
}
